    <header id="secondary-header">

		<div class="primary-container">
				
			<div class="secondary-header-container">
						
				<input type="text" data-ng-model="filter.name" placeholder="search users">
		
				<br>

				<label for="Username:"><input type="text" placeholder="username" data-ng-model="newUser.name"></label>

				<br>

				<label for="City:"><input type="text" placeholder="city" data-ng-model="newUser.city"></label>

				<br>

				<button class="nav" data-ng-click="addUser()"></button>

			</div>
		
		</div>
	
	</header>
	
	<section id="primary-section">
		
		<div class="primary-container">
		
			<article class="main-content-container" data-ng-click="logUser()">

				<div class="main-content" data-ng-repeat="item in items | filter : filter.name | orderBy : 'city'">
										
					<h1>
					
						{{ item.name | uppercase }}
					
					</h1>

					<p> {{ item.city | lowercase }} </p>

				</div>

			</article>	

		</div>
	
	</section> 